<div class="page-header">
  <a href="/photos/new" class="btn btn-default btn-block">
<i class="fa fa-plus"></i>
    </a>
</div>


  <div class="col-md-8 cold-md-offset-2">
  </div>
    <% @photos.each do |photo| %>
      <div class="row">
        <div class="col-md-8 cold-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%=photo.user.username%>
                <small> <%=((Time.now - photo.created_at)/(60**2)).round%> hours ago</small>
              </h3>
            </div>
          <div class="panel-body">
        <img src="<%= photo.image %>" width="300">
        <p></p>
        <ul class="media-list">
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/<%=photo.user_id%>">
                  <%=photo.user.username%> </a>
                  <small> <%=((Time.now - photo.created_at)/(60**2)).round%> hours ago</small>
                </h6>
                <%= photo.caption %>


      </div>
        <% if current_user.id == photo.user_id%>

          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

        <% else%>

          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

        <%end%>
      </div>
      </div>
      </div>
      </div>

      <% end %>

  </div>
</div>
